Repository hihumikan/kitaQ-teamC, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, infra

.github/labeler.yml:

backend:
  - Backend/*

frontend:
  - Web/*

infra:
  - docker/*
  - DB/*
  - API/*

fix modal
  web/db.json
  web/src/components/PostModal.js
  web/src/components/ProfileModal.js
Labels: none

chore: submit new post
  API/db.json
  web/src/api/post.js
  web/src/components/PostModal.js
  web/src/pages/Timeline.js
Labels: infra

fix: fix type
  web/src/components/Post.js
Labels: none

<fix>json化(loginのみ) , 登録失敗時ステータスコード変更
  Backend/controller/users.py
Labels: none

<fix>cookie
  Backend/controller/users.py
Labels: none

with~
  Backend/app.py
Labels: backend

postにwithCredentialsを指定
  web/src/api/auth.js
Labels: none

formからjson受け取りへ
  Backend/controller/posts.py
  Backend/controller/users.py
  Backend/models/models.py
Labels: none
