Repository hihumikan/kitaQ-teamC, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, infra

.github/labeler.yml:

backend:
  - Backend/*

frontend:
  - web/*

infra:
  - docker/*
  - DB/*
  - API/*

chore: fetch data into postpage
  API/db.json
  web/src/components/ChatBubble.js
  web/src/components/ChatInput.js
  web/src/pages/OnePostPage.js
Labels: infra

change modal font
  web/package-lock.json
  web/package.json
  web/src/App.css
  web/src/index.css
  web/src/index.js
  web/src/theme.js
  web/yarn.lock
Labels: frontend

base64の処理追加
  Backend/controller/posts.py
  Backend/controller/users.py
  Backend/static/users/2.webp
Labels: none

Update models.py
  Backend/models/models.py
Labels: none

add: readme.md
  README.md
Labels: none

change: kitaq->kitaqc
  Backend/controller/users.py
Labels: none

Revert "change: kitaq->kitaqc"
  Backend/controller/users.py
Labels: none

chore: fix style (signup modal)
  web/src/components/ChatInput.js
  web/src/components/LoginModal.js
  web/src/components/MyInputGroup.js
  web/src/components/PostModal.js
  web/src/components/SignupModal.js
Labels: none

<fix>細かいバグ取り + SQLインジェクション対策
  Backend/controller/posts.py
  Backend/controller/users.py
  Backend/models/models.py
  Backend/static/users/1.webp
Labels: none

接続先修正
  Backend/models/models.py
Labels: none

chore: add service-worker and icons
  web/package.json
  web/public/icon-192x192.png
  web/public/icon-256x256.png
  web/public/icon-384x384.png
  web/public/icon-512x512.png
  web/public/manifest.json
  web/src/index.js
  web/src/service-worker.js
  web/src/serviceWorkerRegistration.js
  web/yarn.lock
Labels: frontend

chore: change endpoint from localhost
  web/src/api/post.js
  web/src/api/signup.js
  web/src/api/user.js
  web/src/components/ChatInput.js
  web/src/components/LoginModal.js
  web/src/pages/OnePostPage.js
  web/src/pages/Timeline.js
Labels: none

<fix>signup修正
  Backend/models/models.py
Labels: none

chore: add withCredentials
  web/src/api/post.js
  web/src/api/signup.js
  web/src/components/ChatInput.js
Labels: none

ユーザの状態によってコンポーネントを切り替える
  web/src/components/Header.js
  web/src/components/LoginModal.js
  web/src/components/Navbar.js
  web/src/context/AuthContext.js
  web/src/service/login.js
Labels: none

<fix>sessionの管理を修正
  Backend/models/models.py
Labels: none

small fix
  web/src/index.js
  web/src/serviceWorkerRegistration.js
Labels: none

<fix>session-fix2
  Backend/models/models.py
Labels: none

userの取得後に参照させるように
  web/src/components/Navbar.js
  web/src/context/AuthContext.js
Labels: none

chore: fix path for userdata
  web/src/components/LoginModal.js
Labels: none

<fix>upload
  Backend/app.py
  Backend/models/models.py
Labels: backend

修正
  web/src/context/AuthContext.js
  web/src/pages/Timeline.js
Labels: none

usernameをuser_nameに変更
  web/src/components/ProfileModal.js
  web/src/components/SignupModal.js
Labels: none

fix: fix typo
  web/src/components/SignupModal.js
Labels: none

timeLinePageが正しく反映されるように修正
  web/src/App.css
  web/src/components/Header.js
  web/src/components/Post.js
  web/src/pages/Timeline.js
Labels: none

不要なlogを削除
  web/src/components/Post.js
Labels: none

コンフリクト修正
  web/src/context/AuthContext.js
Labels: none

ユーザーじょうじついか
  Backend/static/posts/2.webp
  Backend/static/users/3.webp
  Backend/static/users/39.webp
  Backend/static/users/4.webp
  Backend/static/users/5.webp
  DB/init/init.sql
Labels: none

parent_fix
  DB/init/init.sql
Labels: none

add push通知
  web/public/se.wav
  web/src/App.js
  web/src/pages/HomePage.js
Labels: none

sql_add
  DB/init/init.sql
Labels: none

ログイン状態に応じて投稿ボタンを切り替えるように
  web/src/context/AuthContext.js
  web/src/pages/OnePostPage.js
  web/src/pages/Timeline.js
Labels: none

chore: responsive
  web/public/logo_mobile.png
  web/src/App.css
  web/src/components/Header.js
  web/src/components/MobileNavbar.js
  web/src/components/Navbar.js
  web/src/pages/HomePage.js
  web/src/pages/Timeline.js
Labels: none

Update README.md
  README.md
Labels: none
