Repository hihumikan/kitaQ-teamC, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, infra

.github/labeler.yml:

backend:
  - Backend/*

frontend:
  - Web/*

infra:
  - docker/*
  - DB/*
  - API/*

small fix
  web/src/components/PostModal.js
  web/src/pages/OnePostPage.js
Labels: none

fix text size
  web/src/pages/OnePostPage.js
Labels: none

small fix
  web/src/components/ProfileModal.js
Labels: none

fix
  API/db.json
Labels: infra

fix: display logo image correctly
  web/src/components/Navbar.js
Labels: none

fix: docker-compose間のネットワークを解消する
  Backend/Dockerfile
  Backend/models/models.py
  docker/docker-compose-api.yml
  docker/docker-compose-db.yml
Labels: backend, infra

fix design
  web/public/favicon.ico
  web/public/index.html
  web/public/logo192.png
  web/public/logo512.png
  web/src/components/Button.js
  web/src/components/Header.js
  web/src/components/LoginModal.js
  web/src/components/MyInputGroup.js
  web/src/components/Navbar.js
  web/src/components/Post.js
  web/src/components/PostModal.js
  web/src/components/ProfileModal.js
  web/src/pages/HomePage.js
  web/src/pages/OnePostPage.js
  web/src/pages/Timeline.js
Labels: none

format
  web/src/pages/HomePage.js
Labels: none

radioのUIのみ完成
  web/src/components/MyInputGroup.js
  web/src/components/SignupModal.js
Labels: none

<feat> post系追加
  Backend/app.py
  Backend/controller/posts.py
  Backend/controller/users.py
  Backend/models/models.py
Labels: backend

add: .github/workflows/deploy
  .github/workflows/deploy.yml
Labels: none

fix: cd時のコマンドを現環境に合わせる
  .github/workflows/deploy.yml
Labels: none

fix: sudo権限を持たせる
  .github/workflows/deploy.yml
Labels: none

small fix
  web/src/components/User.js
Labels: none

add: sudo pw
  .github/workflows/deploy.yml
Labels: none

fix: pullrequest時にcicd回さない
  .github/workflows/deploy.yml
Labels: none

fix: pullrequest時にcicd回さない
  .github/workflows/deploy.yml
Labels: none

Co-authored-by: Mayu Kikuchi <Al-Mikan@users.noreply.github.com>
  API/db.json
  web/src/App.js
  web/src/api/auth.js
  web/src/components/LoginModal.js
  web/src/components/MyInputGroup.js
  web/src/components/Navbar.js
  web/src/context/AuthContext.js
Labels: infra

オブジェクトを二枚目の方に渡したいけどできない
  web/src/components/Button.js
  web/src/components/ProfileModal.js
Labels: none

fix: fix logo in navbar
  web/src/components/Navbar.js
Labels: none

chore: remove fallbackSrc from img component
  web/src/components/Navbar.js
Labels: none

<feat>delete系追加 <fix>コメントが出力されない問題を修正
  Backend/controller/posts.py
  Backend/controller/users.py
  Backend/models/models.py
Labels: none

refact: poetry用のgithub actionsに変更
  .github/workflows/python-app.yml
Labels: none

del: 不要メソッド
  Backend/controller/posts.py
Labels: none

fix: poetryを一部にする
  .github/workflows/python-app.yml
Labels: none

fix: インストラーの先を変える
  .github/workflows/python-app.yml
Labels: none

fix: dir
  .github/workflows/python-app.yml
Labels: none

add: auto commit
  .github/workflows/python-app.yml
Labels: none

add: head checkout
  .github/workflows/python-app.yml
Labels: none

<feat>postのPOSTを追加
  Backend/controller/posts.py
  Backend/models/models.py
Labels: none

chore: update profilemodal
  API/db.json
  web/src/api/signup.js
  web/src/components/Navbar.js
  web/src/components/ProfileModal.js
  web/src/components/SignupModal.js
  web/src/pages/Timeline.js
Labels: infra

Navbarにuserデータを流せるように
  web/src/components/Navbar.js
  web/src/context/AuthContext.js
Labels: none

<feat>postのDELETEを追加
  Backend/controller/posts.py
  Backend/models/models.py
Labels: none

#90: user patch
  Backend/controller/users.py
  Backend/models/models.py
Labels: none

テストするために
  web/src/api/auth.js
  web/src/components/LoginModal.js
  web/src/service/login.js
Labels: none

コンフリ修正
  web/src/components/Navbar.js
Labels: none

ENDPOINTをhttpからhttpsに修正
  web/src/api/auth.js
Labels: none

<fix>CORS修正
  Backend/app.py
  Backend/controller/users.py
  Backend/poetry.lock
  Backend/pyproject.toml
Labels: backend

generated
  Backend/requirements.txt
Labels: backend

add: docker build
  .github/workflows/deploy.yml
Labels: none
