Repository hihumikan/kitaQ-teamC, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, infra

.github/labeler.yml:

backend:
  - Backend/*

frontend:
  - Web/*

infra:
  - docker/*
  - DB/*
  - API/*

:seedling: 命名が別プロジェクトになっていたのを修正
  API/openapi.yaml
  DB/init/create_table.sh
  docker/.env.sample
Labels: infra

fix:命名
  docker/.env.sample
  docker/docker-compose-api.yml
  docker/docker-compose-db.yml
Labels: infra

fix:命名に酔って動かなかった事象を解決する
  docker/.env.sample
  docker/docker-compose-api.yml
  docker/docker-compose-db.yml
Labels: infra

chore: add navbar
  web/package.json
  web/src/App.js
  web/src/components/Navbar.js
  web/src/index.js
  web/yarn.lock
Labels: none

chore: style sidebar
  web/src/App.js
  web/src/components/Navbar.js
Labels: none

PostCard作りました
  web/src/components/posts/PostCard.jsx
Labels: none

chore: delete unnecessary element
  web/src/App.js
Labels: none

dbtest
  DB/init/create_table.sh
Labels: none

change: mysqlのinsertを変更
  DB/.env_mysql
  DB/Dockerfile
  DB/hosts
  DB/init/init.sql
  DB/my.cnf
  docker/docker-compose-api.yml
  docker/docker-compose-db.yml
Labels: infra

del: 競合を防ぐ
  DB/init/create_table.sh
Labels: none

sql追加
  DB/init/init.sql
Labels: none

session追加
  DB/init/init.sql
Labels: none

homePageの土台作りました
  web/src/App.js
  web/src/components/posts/PostCard.jsx
  web/src/pages/homePage.jsx
Labels: none

chore: add header component
  web/src/App.js
  web/src/components/Header.js
  web/src/components/Navbar.js
Labels: none

chore: add timeline page component
  .vscode/settings.json
  web/src/components/Post.js
  web/src/pages/Timeline.js
Labels: none

Json Server用Json作成
  API/db.json
Labels: infra

余計な部分削除
  API/db.json
Labels: infra

chore: install react-router-dom
  web/package.json
  web/src/App.js
  web/src/components/Link.js
  web/src/components/Navbar.js
  web/src/index.js
  web/yarn.lock
Labels: none

UIの途中までです
  web/src/components/Header.js
  web/src/components/utils/LoginModal.jsx
  web/src/pages/homePage.jsx
Labels: none

add: poetry version file
  Backend/poetry.lock
  Backend/pyproject.toml
Labels: backend

作成中
  Backend/Main.py
  Backend/app.py
  Backend/controller/users.py
  Backend/models/models.py
Labels: backend

途中
  web/src/components/Post.js
  web/src/pages/OnePostPage.js
  web/src/pages/Timeline.js
Labels: none

feat: add login and signup modal
  web/src/components/Header.js
  web/src/components/LoginModal.js
  web/src/components/SignupModal.js
  web/src/index.js
  web/src/pages/HomePage.js
Labels: none

install prettier
  web/package-lock.json
  web/package.json
Labels: none

run prettier
  web/src/App.test.js
  web/src/pages/Timeline.js
  web/src/reportWebVitals.js
  web/src/setupTests.js
Labels: none

chore: change page title
  web/public/index.html
Labels: none

formatter
  web/src/components/Header.js
Labels: none

chore: remove comments
  web/src/components/Header.js
Labels: none

small fix
  web/src/components/Header.js
Labels: none

fix: 予約ポート番号を指定していたため、変更をする
  docker/docker-compose-api.yml
Labels: infra

fix: docker-composeバージョンの修正,makefileを下位持たせる
  docker/docker-compose-api.yml
  docker/docker-compose-db.yml
  makefile
Labels: infra

chore: create button component
  web/src/components/Button.js
Labels: none

get_all_usersまで
  Backend/app.py
  Backend/controller/users.py
  Backend/models/models.py
  Backend/poetry.lock
  Backend/pyproject.toml
  Backend/settings.py
  Backend/static/users/1.jpg
Labels: backend

fix: flaskのバージョンを最新状態にし、dockerbuildに適用させる
  Backend/requirements.txt
Labels: backend

get_all_usersまで
  Backend/settings.py
Labels: backend

chore: update login and signup modal
  web/src/components/Button.js
  web/src/components/Header.js
  web/src/components/LoginModal.js
  web/src/components/MyInputGroup.js
  web/src/components/SignupModal.js
  web/src/pages/HomePage.js
Labels: none

merge main
  web/src/components/Header.js
  web/src/components/LoginModal.js
  web/src/components/SignupModal.js
Labels: none

Revert "merge main"
  web/src/components/Header.js
  web/src/components/LoginModal.js
  web/src/components/SignupModal.js
Labels: none

users/:idまで
  Backend/app.py
  Backend/models/models.py
  Backend/static/posts/1.jpg
Labels: backend

blueprint化
  Backend/app.py
  Backend/controller/users.py
Labels: backend
