Repository hihumikan/kitaQ-teamC, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, infra

<fix>appの指定修正
  Backend/controller/users.py
Labels: none

refactor: move BrowserRouter from index.js to App.js
  web/src/App.js
  web/src/index.js
Labels: none

UIの土台は完成
  web/src/App.css
  web/src/index.js
  web/src/pages/OnePostPage.js
  web/src/pages/Timeline.js
Labels: none

コンフリクト修正
  web/src/App.js
  web/src/pages/Timeline.js
Labels: none

chore: create button for modal
  web/src/components/Button.js
Labels: none

update signuomodal
  web/src/components/SignupModal.js
  web/src/pages/HomePage.js
Labels: none

完成
  web/src/pages/OnePostPage.js
  web/src/pages/Timeline.js
Labels: none

modalに閉じるボタンを追加
  web/src/components/LoginModal.js
  web/src/components/SignupModal.js
Labels: none

chore: fetch users data from db
  web/package.json
  web/src/App.js
  web/src/api/user.js
  web/src/components/User.js
  web/src/components/posts/PostCard.jsx
  web/src/components/utils/LoginModal.jsx
  web/src/context/UserContext.js
  web/src/pages/HomePage.js
  web/src/pages/Timeline.js
  web/yarn.lock
Labels: none

add styled-component
  web/package-lock.json
  web/package.json
Labels: none

install react-easy-crop
  web/package-lock.json
  web/package.json
Labels: none

siginInModalの選択するUIを作りました。
  web/src/components/MyInputGroup.js
  web/src/components/SignupModal.js
Labels: none

hoverでshadowつけてみました
  web/src/components/SignupModal.js
Labels: none

homeのuserCardから適切に遷移されるように変更
  web/src/App.js
  web/src/pages/HomePage.js
  web/src/pages/Timeline.js
Labels: none

timeline側のlinkがおかしかったので修正
  web/src/pages/Timeline.js
Labels: none

cookie,singin追加
  Backend/app.py
  Backend/controller/users.py
  Backend/models/models.py
  Backend/static/users/39.webp
Labels: backend

install react-image-crop
  web/package-lock.json
  web/package.json
Labels: none

update logo
  web/public/logo.png
  web/src/components/Navbar.js
Labels: none

upload photo
  web/src/components/ImageCropper.js
  web/src/components/ProfileModal.js
  web/src/components/canvasPreview.js
  web/yarn.lock
Labels: none

refact: インデントなどのコード整形
  Backend/Main.py
  Backend/app.py
  Backend/controller/users.py
  Backend/models/models.py
  Backend/requirements.txt
Labels: backend

fix yarn.lock
  web/yarn.lock
Labels: none

<feat>login処理をとりあえず追加
  Backend/controller/users.py
  Backend/models/models.py
Labels: none

change font
  web/src/App.css
Labels: none

change heading->Text tag
  web/src/components/Post.js
  web/src/components/User.js
  web/src/pages/HomePage.js
  web/src/pages/Timeline.js
Labels: none

<fix>signinとloginの改良
  Backend/controller/users.py
  Backend/models/models.py
  Backend/static/users/1.webp
Labels: none

<fix>users/:user idの存在しないものを指定するとエラーになるのを回避
  Backend/controller/users.py
  Backend/static/posts/1.webp
Labels: none

chore: display posts in timeline page with id
  API/db.json
  web/package.json
  web/src/pages/Timeline.js
Labels: infra

chore: change some files
  web/src/api/user.js
  web/src/components/Post.js
  web/src/pages/HomePage.js
Labels: none

いい感じなdesign and modal
  web/package-lock.json
  web/public/bg_image.png
  web/src/components/Button.js
  web/src/components/Header.js
  web/src/components/ImageCropper.js
  web/src/components/LoginModal.js
  web/src/components/MyInputGroup.js
  web/src/components/Navbar.js
  web/src/components/Post.js
  web/src/components/PostModal.js
  web/src/components/SignupModal.js
  web/src/components/User.js
  web/src/components/canvasPreview.js
  web/src/index.js
  web/src/pages/HomePage.js
  web/src/pages/OnePostPage.js
  web/src/pages/Timeline.js
  web/yarn.lock
Labels: none

chore: display posts in timeline page with id
  API/db.json
  web/package.json
  web/src/pages/Timeline.js
Labels: infra

chore: change some files
  web/src/api/user.js
  web/src/components/Post.js
  web/src/pages/HomePage.js
Labels: none

chore: solve some conflicts
  web/yarn.lock
Labels: none

add post modal
  web/src/components/LoginModal.js
  web/src/components/Navbar.js
  web/src/components/PostModal.js
  web/src/components/ProfileModal.js
  web/src/pages/HomePage.js
  web/src/pages/Timeline.js
Labels: none

small fix
  web/src/pages/Timeline.js
Labels: none

small fix
  API/db.json
  web/src/components/Post.js
  web/src/pages/Timeline.js
Labels: infra

chore: create a function to create new post
  web/src/components/PostModal.js
  web/src/pages/Timeline.js
Labels: none

ロゴのfallbackを指定
  web/src/components/Navbar.js
Labels: none

chore: chore
  web/src/components/PostModal.js
Labels: none

add close button
  web/src/components/PostModal.js
Labels: none

small fix
  web/src/components/PostModal.js
Labels: none

.github/labeler.yml:

backend:
  - Backend/*

frontend:
  - Web/*

infra:
  - docker/*
  - DB/*
  - API/*
