Repository hihumikan/kitaQ-teamC, pull requests merged in 2022-09, with the labels that each got.

#3 :seedling: 命名が別プロジェクトになっていたのを修正
  API/openapi.yaml
  DB/init/create_table.sh
  docker/.env.sample
Labels: infra

#13 change: mysqlのinsertを変更
  DB/.env_mysql
  DB/Dockerfile
  DB/hosts
  DB/init/create_table.sh
  DB/init/init.sql
  DB/my.cnf
  docker/docker-compose-api.yml
  docker/docker-compose-db.yml
Labels: infra

#20 Json Server用Json作成
  API/db.json
Labels: infra

#27 add: poetry version file
  Backend/poetry.lock
  Backend/pyproject.toml
Labels: backend

#46 fix: flaskのバージョンを最新状態にし、dockerbuildに適用させる
  Backend/requirements.txt
Labels: backend

#48 users/とusers/:idまで
  Backend/Main.py
  Backend/app.py
  Backend/models/models.py
  Backend/poetry.lock
  Backend/pyproject.toml
  Backend/settings.py
  Backend/static/posts/1.jpg
  Backend/static/users/1.jpg
Labels: backend

#49 blueprint化
  Backend/app.py
  Backend/controller/users.py
Labels: backend

#65 <feat>cookie,singin追加
  Backend/app.py
  Backend/controller/users.py
  Backend/models/models.py
  Backend/static/users/39.webp
Labels: backend

#67 refact: インデントなどのコード整形
  Backend/Main.py
  Backend/app.py
  Backend/controller/users.py
  Backend/models/models.py
  Backend/requirements.txt
Labels: backend

#70 #61-post-in-timeline
  API/db.json
  web/package.json
  web/src/api/user.js
  web/src/components/Post.js
  web/src/pages/HomePage.js
  web/src/pages/Timeline.js
  web/yarn.lock
Labels: infra

#82 fix: docker-compose間のネットワークを解消する
  Backend/Dockerfile
  Backend/models/models.py
  docker/docker-compose-api.yml
  docker/docker-compose-db.yml
Labels: infra, backend

#68 <feat>login処理をとりあえず追加
  Backend/app.py
  Backend/controller/posts.py
  Backend/controller/users.py
  Backend/models/models.py
  Backend/static/posts/1.webp
  Backend/static/users/1.webp
Labels: backend

#100 #74 web]ログイン状態の管理
  API/db.json
  web/src/App.js
  web/src/api/auth.js
  web/src/components/LoginModal.js
  web/src/components/MyInputGroup.js
  web/src/components/Navbar.js
  web/src/context/AuthContext.js
  web/src/service/login.js
Labels: infra

#101 <fix>CORS修正
  Backend/app.py
  Backend/controller/users.py
  Backend/poetry.lock
  Backend/pyproject.toml
  Backend/requirements.txt
Labels: backend

#84 [WIP]SignUpModalを直す
  API/db.json
  web/db.json
  web/src/api/signup.js
  web/src/components/Button.js
  web/src/components/MyInputGroup.js
  web/src/components/PostModal.js
  web/src/components/ProfileModal.js
  web/src/components/SignupModal.js
  web/src/pages/Timeline.js
Labels: infra

#103 chore: submit new post
  API/db.json
  web/src/api/post.js
  web/src/components/Post.js
  web/src/components/PostModal.js
Labels: infra

#106 with~
  Backend/app.py
Labels: backend

#110 chore: fetch data into postpage
  API/db.json
  web/src/components/ChatBubble.js
  web/src/components/ChatInput.js
  web/src/pages/OnePostPage.js
Labels: frontend

#126 <fix>upload
  Backend/app.py
  Backend/models/models.py
Labels: backend

#122 #115 pwa
  web/package.json
  web/public/icon-192x192.png
  web/public/icon-256x256.png
  web/public/icon-384x384.png
  web/public/icon-512x512.png
  web/public/manifest.json
  web/public/se.wav
  web/src/App.js
  web/src/index.js
  web/src/pages/HomePage.js
  web/src/service-worker.js
  web/src/serviceWorkerRegistration.js
  web/yarn.lock
Labels: frontend
